Flask==0.10.1
Flask-DebugToolbar==0.9.0
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.23
PyYAML==3.10
Pygments==1.6
SQLAlchemy==0.9.4
Sphinx==1.2.2
WTForms==2.0
Werkzeug==0.9.4
alembic==0.6.5
blinker==1.3
charlatan==0.3.4
docutils==0.11
## !! Could not determine repository location
flask-sqla-skel==0.0.1a-0
gevent==1.0.1
gevent-socketio==0.3.6
gevent-websocket==0.9.3
gnureadline==6.3.3
greenlet==0.4.2
ipython==2.1.0
itsdangerous==0.24
mock==1.0.1
py==1.4.20
pytest==2.5.2
six==1.6.1
sphinxcontrib-httpdomain==1.2.1
uWSGI==2.0.4
webassets==0.9
wsgiref==0.1.2
